# Aptos Network Configuration
VITE_APTOS_NETWORK=devnet
VITE_MODULE_ADDRESS=0x5fb97dfeb76077901d88b70f6f02f9f164e83828cc173998f52d019777aa931a
VITE_QUEST_MODULE_ADDRESS=0x22d710758f35e3de12a5457419c356d97b36d766cf802a5d15b092cb231d4e1d

VITE_SUPABASE_URL=your-supabase-project-url
VITE_SUPABASE_ANON_KEY=your-supabase-anon-key
VITE_SUPABASE_STORAGE_BUCKET=token-images

# Development Configuration
VITE_DEBUG_MODE=true
